.list {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.item {
  width: calc((100% - 10px) / 2);
}

.image {
  object-fit: contain;
  width: 100%;
}

.title {
  z-index: 2;
  position: absolute;
  font-family: Kyiv;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.7;
  color: var(--white);
}

.womanTitle {
  top: 30px;
  left: 30px;
}

.menTitle {
  bottom: 30px;
  right: 30px;
}
