.wraperRegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 1100px) {
  .wraperRegisterPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.boxForImageRight {
  content: url(/images/backgroundImageRegister/leftBackground.png);
}

.boxForImageLeft {
  content: url(/images/backgroundImageRegister/rightBackground.png);
}

@media only screen and (max-width: 1099px) {
  .boxForImageLeft {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .boxForImageLeft {
    width: 180px;
  }
}

@media only screen and (min-width: 1440px) {
  .boxForImageLeft {
    width: 273px;
  }
}

@media only screen and (min-width: 1920px) {
  .boxForImageLeft {
    width: 364px;
  }
}

@media only screen and (max-width: 1099px) {
  .boxForImageRight {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .boxForImageRight {
    width: 180px;
  }
}

@media only screen and (min-width: 1440px) {
  .boxForImageRight {
    width: 273px;
  }
}

@media only screen and (min-width: 1920px) {
  .boxForImageRight {
    width: 364px;
  }
}

.boxForImageBottom {
  content: url(../../../public/images/backgroundImageRegister/bottomBackground.png);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .boxForImageBottom {
    display: none;
  }
}

.titleregister {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #000;
  margin-top: 55px;
  margin-bottom: 18px;
}

@media only screen and (min-width: 1440px) {
  .titleregister {
    font-size: 36px;
    margin-bottom: 26px;
  }
}

@media only screen and (min-width: 1920px) {
  .titleregister {
    font-size: 48px;
    margin-bottom: 34px;
  }
}

.wrapperForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (min-width: 375px) {
  .wrapperForm {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .wrapperForm {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.inputsStyle {
  border: 0.74px solid #969696;
  border-radius: 10px;
  padding: 13px 11px;
  width: 310px;
  height: 47px;
}

@media only screen and (min-width: 1440px) {
  .inputsStyle {
    border: 0.75px solid #969696;
    padding: 14px 12px;
    width: 315px;
    height: 48px;
  }
}

@media only screen and (min-width: 1920px) {
  .inputsStyle {
    border: 1px solid #969696;
    border-radius: 14px;
    padding: 18px 16px;
    width: 420px;
    height: 63px;
  }
}

.listInputsLeft {
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style: none;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .listInputsLeft {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1100px) {
  .listInputsLeft {
    display: flex;
    gap: 32px;
    flex-direction: column;
    list-style: none;
    margin-right: 44px;
    margin-bottom: 0;
  }
}

.listInputsRight {
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style: none;
}

@media only screen and (min-width: 1100px) {
  .listInputsRight {
    display: flex;
    gap: 32px;
    flex-direction: column;
    list-style: none;
    margin-left: 44px;
  }
}

.boxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 239px;
  margin-left: 7px;
  margin-bottom: 29px;
}

@media only screen and (min-width: 1100px) {
  .boxLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 40px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.textagree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 7px;
  line-height: 1.6;
  color: #131415;
  width: 222px;
}

@media only screen and (min-width: 1100px) {
  .textagree {
    gap: 6px;
    text-align: center;
    font-size: 10px;
    line-height: 4.05;
    width: 392px;
  }
}

@media only screen and (min-width: 1920px) {
  .textagree {
    font-size: 11px;
    line-height: 3.6;
    width: 616px;
    flex-direction: row;
  }
}

.registerButton {
  border-radius: 8px;
  padding: 8px 10px;
  width: 311px;
  height: 50px;
  border: none;
  background-color: rgba(192, 33, 33, 0.68);
  font-family: 'Kyiv*Type Serif', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 58px;
}

@media only screen and (min-width: 1100px) {
  .registerButton {
    border-radius: 7px;
    padding: 12px 15px;
    width: 436px;
    height: 55px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .registerButton {
    border-radius: 7px;
    padding: 12px 15px;
    width: 436px;
    height: 55px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .registerButton {
    border-radius: 10px;
    padding: 16px 20px;
    width: 582px;
    height: 73px;
    font-size: 24px;
    margin-top: 50px;
  }
}

.boxLabelAndButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 13px;
}

@media only screen and (min-width: 768px) {
  .boxLabelAndButton {
    align-items: center;
  }
}

@media only screen and (min-width: 1100px) {
  .boxLabelAndButton {
    width: 616px;
    flex-direction: row;
    margin-top: 0;
  }
}

.formStyles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkBoxRegister {
  margin-top: 0;
}
