.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 132px;
  padding: 0 30px 0 30px;
}

.wrapperForNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #000;
}

.navList {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.navItem {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #000;
}

.listIcons {
  width: 204px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.itemIconSearch {
  margin: 0 35px 0 0;
}

.itemIconUser {
  margin: 0 0 0 38px;
}

.itemIconBasket {
  margin: 0 0 0 33px;
}

.IconsToNav {
  width: 30px;
  height: 36px;
}

.vector {
  width: 2px;
  height: 40px;
  background-color: #d9d9d9;
}
