.footerSection {
  margin-left: 16px;
  display: flex;
  background-color: black;
  color: white;
  width: 1920px;
  height: 140px;
  gap: 0px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
  padding: auto;
  font: Kulim Park;
  font-weight: 700;
  font-size: 36px;
}
