:root {
  --main: #000;
  --accent: #0044ff;
}

a {
  color: currentColor;
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}
